<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
    <directoryBrowse enabled="false" />
    <!-- <httpRedirect enabled="true">
      <add wildcard="/" destination="/agent" />
    </httpRedirect> -->
		<rewrite>
		<rules>
			<rule name="hide .php extension rule" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
            </rule>

            
            <!-- Start config rules for the app -->

    <rule name="Imported Rule 1" stopProcessing="true">
      <match url="(.*)" ignoreCase="false" />
      <conditions>
        <add input="{HTTPS}" pattern="off" ignoreCase="false" />
      </conditions>
      <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}{URL}" />
    </rule>
    <rule name="Imported Rule 2" stopProcessing="true">
      <match url="^(.+)$" ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}.php" matchType="IsFile" ignoreCase="false" />
      </conditions>
      <action type="Rewrite" url="{R:1}.php" appendQueryString="true" />
    </rule>
    <rule name="Imported Rule 3" stopProcessing="true">
      <match url="^content/([0-9]+)/([0-9a-zA-Z_-]+)$" />
      <action type="Rewrite" url="article.php?aid={R:1}&amp;title={R:2}" appendQueryString="false" />
    </rule>
    <rule name="Imported Rule 4" stopProcessing="true">
      <match url="^videos/([0-9a-zA-Z_-]+)$" />
      <action type="Rewrite" url="video.php?pid={R:1}" appendQueryString="false" />
    </rule>
    <rule name="Imported Rule 5" stopProcessing="true">
      <match url="^topic/([0-9a-zA-Z_-]+)$" />
      <action type="Rewrite" url="topic-page.php?topicId={R:1}" appendQueryString="false" />
    </rule>
    <rule name="Imported Rule 7" stopProcessing="true">
      <match url="^search/(\w+)"/>
      <action type="Rewrite" url="search-page.php?a=search&amp;query={R:1}" appendQueryString="false" />
    </rule>
    <rule name="Imported Rule 9">
      <match url="^esearch/(\w+)" ignoreCase="false" />
      <action type="Rewrite" url="e_centre-search.php?s=esearch&amp;q={R:1}" appendQueryString="false" />
    </rule>

    <!-- redirect from root page to the agent portal -->
            <!-- <rule name="Root page Redirect" stopProcessing="true">
                <match url="^$" />
                <action type="Redirect" url="/agent" />
            </rule> -->

        <!-- end the config rules for the app -->
		</rules>
            <outboundRules>
                <rule name="Use only secure cookies" preCondition="Unsecured cookie">
                <match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />
                <action type="Rewrite" value="{R:0}; secure; HttpOnly" />
                </rule>
                <preConditions>
                <preCondition name="Unsecured cookie">
                <add input="{RESPONSE_SET_COOKIE}" pattern="." />
                <add input="{RESPONSE_SET_COOKIE}" pattern="; secure; HttpOnly" negate="true" />
                </preCondition>
                </preConditions>
            </outboundRules>
		</rewrite> 
        <!-- <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>        -->
        <!-- <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="DENY" />
            </customHeaders>
        </httpProtocol> -->

        

	</system.webServer>
    <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    </system.web>
</configuration>