
@font-face {
    font-family: 'MTN Brighter Sans ExtraBold';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraBold.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraBold.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'MTN Brighter Sans Light Italic';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-LightItalic.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-LightItalic.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-LightItalic.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'MTN Brighter Sans ExtraBold Italic';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraBoldItalic.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'MTN Brighter Sans Light';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-Light.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Light.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Light.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MTN Brighter Sans ExtraLight';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraLight.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraLight.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  
  @font-face {
    font-family: 'MTN Brighter Sans Medium';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-Medium.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Medium.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Medium.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MTN Brighter Sans Bold Italic';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-BoldItalic.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-BoldItalic.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  
  
  @font-face {
    font-family: 'MTN Brighter Sans Regular Italic';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-RegularItalic.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-RegularItalic.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-RegularItalic.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'MTN Brighter Sans Bold';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-Bold.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Bold.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Bold.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MTN Brighter Sans Medium Italic';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-MediumItalic.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-MediumItalic.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  
  @font-face {
    font-family: 'MTN Brighter Sans ExtraLight Italic';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraLightItalic.eot');
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraLightItalic.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  
  
  @font-face {
    font-family: 'MTN Brighter Sans Bold';
     src: url('../fonts/MTNBrighterSans/MTNBrighterSans-Bold.otf?#iefix') format('embedded-opentype'),
    url('../fonts/MTNBrighterSans/MTNBrighterSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Bold.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Bold.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'MTN Brighter Sans';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-Regular.otf?#iefix') format('embedded-opentype'),
    url('../fonts/MTNBrighterSans/MTNBrighterSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Regular.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Regular.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'MTN Brighter Sans Regular Italic';
    src: url('../fonts/MTNBrighterSans/MTNBrighterSans-RegularItalic.otf?#iefix') format('embedded-opentype'),
    url('../fonts/MTNBrighterSans/MTNBrighterSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-RegularItalic.woff2') format('woff2'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-RegularItalic.woff') format('woff'),
        url('../fonts/MTNBrighterSans/MTNBrighterSans-RegularItalic.ttf') format('truetype');
  }